### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Certificates ###
certificates/account.key
certificates/fullchain.pem
certificates/privkey.pem

### Docs ###
docs/java/

### Output ###
out/artifacts/

### Resources ###
/src/test/resources/config.json

### Target ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/